@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.bg-modern-gradient {
  background: linear-gradient(
    135deg,
    rgb(234, 247, 247),
    rgb(232, 232, 232),
    rgb(228, 234, 244),
    rgb(240, 244, 248)
  );
}
.nav-col {
  background: linear-gradient(
    135deg,
    rgb(211, 222, 240) 0%,
    rgb(161, 171, 187) 25%,
    rgb(112, 121, 135) 80%,
    rgb(112, 121, 135) 90%,

    rgb(67, 89, 112) 100%
  );
}
