@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.bg-modern-gradient {
  background: linear-gradient(
    135deg,
    rgb(234, 247, 247),
    rgb(232, 232, 232),
    rgb(228, 234, 244),
    rgb(240, 244, 248)
  );
}
.bg-modern-gradient2 {
  background: linear-gradient(
    135deg,
    rgb(211, 222, 240),
    rgb(79, 141, 242),
    rgb(167, 139, 250),
    rgb(240, 244, 248)
  );
}
